{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
    <h1> Hello World!</h1>
</div>


{% endblock %}